.botao{
    background: rgb(189, 189, 189);
    text-transform: uppercase;
    border: #444;
    border-radius: 2px;
    position: relative;
    transition: 0.5s;
    padding: 5px 5px;
    letter-spacing: 0.1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.botao:hover{
    letter-spacing: 0.25em;
}
.base{
    margin-bottom: 30px;
}
img{
    border-radius: 5px;
    height: 400px;
    width: 400px;
}